<template
	data-controller-name="tld__domain.product__app.controllers.Detail">

<div data-sap-ui-type="ui5strap.Page">
	<div data-sap-ui-aggregation="head"></div>
	<div data-sap-ui-type="ui5strap.Heading" data-level="2"
		data-text="{i18n&gt;RESULT_HEADING}"></div>
	<div data-sap-ui-type="ui5strap.Heading" data-align="center"
		data-level="4" data-text="{ path : 'spaces&gt;/name' }"></div>

	<div data-sap-ui-aggregation="body">



		<!-- Container Form -->
		<div data-sap-ui-type="ui5strap.ScrollContainer" data-vertical="true">
			<div class="spaceinfo" data-sap-ui-type="ui5strap.Container"
				data-type="Fluid">
				<div data-sap-ui-type="ui5strap.Row">

					<div data-sap-ui-type="ui5strap.Col" data-columns-small="8">

						<div data-sap-ui-type="ui5strap.Carousel" class="example-carousel" data-content="{meetdesk&gt;/appdata/spacedata}">
          <div data-sap-ui-aggregation="content" data-sap-ui-type="ui5strap.Container"  data-type="FluidInset">
							<!-- Page 1 -->
				

								<div data-sap-ui-type="ui5strap.Heading" data-align="center"
									data-level="4" data-text="{ path : 'spaces&gt;/name' }"></div>
							
						</div>
					</div>
					</div>
					
				</div>
			</div>
		</div>
	</div>
</div>
</template>