<template data-controller-name="tld__domain.product__app.controllers.Page4">
	
	<div data-sap-ui-type="ui5strap.Page">
		<div data-sap-ui-aggregation="head">
		</div>
		<div data-sap-ui-type="ui5strap.Heading" data-level="2" data-text="{i18n>PAGE4_LEAD1}"></div>
		<div data-sap-ui-type="ui5strap.Heading" data-align="center" data-level="4" data-text="{i18n>PAGE4_LEAD2}"></div>
			
			<div data-sap-ui-aggregation="body">
					
			<!-- Container Form -->
			<div data-sap-ui-type="ui5strap.ScrollContainer" data-vertical="true">
				<div data-sap-ui-type="ui5strap.Container" data-type="Fluid" class="form"> 
					<div data-sap-ui-type="ui5strap.Row">
						
							<div data-sap-ui-type="ui5strap.Col" data-columns-small="4">
		
							<div data-sap-ui-type="ui5strap.Form" data-type="Horizontal">
								
								<div data-sap-ui-type="ui5strap.FormGroup" data-label="{i18n>PAGE4_OVERHEAD}" data-label-small="8">
									<div data-sap-ui-type="ui5strap.Col" data-columns-small="4">
										<div  data-sap-ui-type="ui5strap.Checkbox" data-value="{i18n>PAGE4_OVERHEAD}" data-selected="false"></div>
									</div>
								</div>
			
								<div data-sap-ui-type="ui5strap.FormGroup" data-label="{i18n>PAGE4_PIN}" data-label-small="8">
									<div data-sap-ui-type="ui5strap.Col" data-columns-small="4">
										<div  data-sap-ui-type="ui5strap.Checkbox" data-value="{i18n>PAGE4_PIN}" data-selected="false"></div>
									</div>
								</div>
					
								<div data-sap-ui-type="ui5strap.FormGroup" data-label="{i18n>PAGE4_NET}" data-label-small="8">
									<div data-sap-ui-type="ui5strap.Col" data-columns-small="4">
										<div  data-sap-ui-type="ui5strap.Checkbox" data-value="{i18n>PAGE4_NET}" data-selected="false"></div>
									</div>
									
								</div>
					
								<div data-sap-ui-type="ui5strap.FormGroup" data-label="{i18n>PAGE4_CANVAS}" data-label-small="8">
									<div data-sap-ui-type="ui5strap.Col" data-columns-small="4">
										<div  data-sap-ui-type="ui5strap.Checkbox" data-value="{i18n>PAGE4_CANVAS}" data-selected="false"></div>
									</div>
								</div>
								
								<div data-sap-ui-type="ui5strap.FormGroup" data-label="{i18n>PAGE4_PRINTER}" data-label-small="8">
									<div data-sap-ui-type="ui5strap.Col" data-columns-small="4">
										<div  data-sap-ui-type="ui5strap.Checkbox" data-value="{i18n>PAGE4_PRINTER}" data-selected="false"></div>
									</div>
								</div>	
					
								<div data-sap-ui-type="ui5strap.FormGroup" data-label="{i18n>PAGE4_POINTER}" data-label-small="8">
									<div data-sap-ui-type="ui5strap.Col" data-columns-small="4">
										<div  data-sap-ui-type="ui5strap.Checkbox" data-value="{i18n>PAGE4_POINTER}" data-selected="false"></div>
									</div>
								</div>								
							</div>
						</div>
						
						<div data-sap-ui-type="ui5strap.Col" data-columns-small="4">
		
							<div data-sap-ui-type="ui5strap.Form" data-type="Horizontal">
								
								<div data-sap-ui-type="ui5strap.FormGroup" data-label="{i18n>PAGE4_SPEAKDESK}" data-label-small="8">
									<div data-sap-ui-type="ui5strap.Col" data-columns-small="4">
										<div  data-sap-ui-type="ui5strap.Checkbox" data-value="{i18n>PAGE4_SPEAKDESK}" data-selected="false"></div>
									</div>
								</div>
			
								<div data-sap-ui-type="ui5strap.FormGroup" data-label="{i18n>PAGE4_DIMMING}" data-label-small="8">
									<div data-sap-ui-type="ui5strap.Col" data-columns-small="4">
										<div  data-sap-ui-type="ui5strap.Checkbox" data-value="{i18n>PAGE4_DIMMING}" data-selected="false"></div>
									</div>
								</div>
					
								<div data-sap-ui-type="ui5strap.FormGroup" data-label="{i18n>PAGE4_TV}" data-label-small="8">
									<div data-sap-ui-type="ui5strap.Col" data-columns-small="4">
										<div  data-sap-ui-type="ui5strap.Checkbox" data-value="{i18n>PAGE4_TV}" data-selected="false"></div>
									</div>
									
								</div>
					
								<div data-sap-ui-type="ui5strap.FormGroup" data-label="{i18n>PAGE4_SPEAKER}" data-label-small="8">
									<div data-sap-ui-type="ui5strap.Col" data-columns-small="4">
										<div  data-sap-ui-type="ui5strap.Checkbox" data-value="{i18n>PAGE4_SPEAKER}" data-selected="false"></div>
									</div>
								</div>
								
								<div data-sap-ui-type="ui5strap.FormGroup" data-label="{i18n>PAGE4_COPIER}" data-label-small="8">
									<div data-sap-ui-type="ui5strap.Col" data-columns-small="4">
										<div  data-sap-ui-type="ui5strap.Checkbox" data-value="{i18n>PAGE4_COPIER}" data-selected="false"></div>
									</div>
								</div>	
					
								<div data-sap-ui-type="ui5strap.FormGroup" data-label="{i18n>PAGE4_PROJECTOR}" data-label-small="8">
									<div data-sap-ui-type="ui5strap.Col" data-columns-small="4">
										<div  data-sap-ui-type="ui5strap.Checkbox" data-value="{i18n>PAGE4_PROJECTOR}" data-selected="false"></div>
									</div>
								</div>	
							</div>
						</div>
						
						<div data-sap-ui-type="ui5strap.Col" data-columns-small="4">
		
							<div data-sap-ui-type="ui5strap.Form" data-type="Horizontal">
								
								<div data-sap-ui-type="ui5strap.FormGroup" data-label="{i18n>PAGE4_FAX}" data-label-small="8">
									<div data-sap-ui-type="ui5strap.Col" data-columns-small="4">
										<div  data-sap-ui-type="ui5strap.Checkbox" data-value="{i18n>PAGE4_FAX}" data-selected="false"></div>
									</div>
								</div>
			
								<div data-sap-ui-type="ui5strap.FormGroup" data-label="{i18n>PAGE4_WLAN}" data-label-small="8">
									<div data-sap-ui-type="ui5strap.Col" data-columns-small="4">
										<div  data-sap-ui-type="ui5strap.Checkbox" data-value="{i18n>PAGE4_WLAN}" data-selected="false"></div>
									</div>
								</div>
					
								<div data-sap-ui-type="ui5strap.FormGroup" data-label="{i18n>PAGE4_DVD}" data-label-small="8">
									<div data-sap-ui-type="ui5strap.Col" data-columns-small="4">
										<div  data-sap-ui-type="ui5strap.Checkbox" data-value="{i18n>PAGE4_DVD}" data-selected="false"></div>
									</div>
									
								</div>
					
								<div data-sap-ui-type="ui5strap.FormGroup" data-label="{i18n>PAGE4_FLIPCHART}" data-label-small="8">
									<div data-sap-ui-type="ui5strap.Col" data-columns-small="4">
										<div  data-sap-ui-type="ui5strap.Checkbox" data-value="{i18n>PAGE4_FLIPCHART}" data-selected="false"></div>
									</div>
								</div>
								
								<div data-sap-ui-type="ui5strap.FormGroup" data-label="{i18n>PAGE4_WALLS}" data-label-small="8">
									<div data-sap-ui-type="ui5strap.Col" data-columns-small="4">
										<div  data-sap-ui-type="ui5strap.Checkbox" data-value="{i18n>PAGE4_WALLS}" data-selected="false"></div>
									</div>
								</div>	
					
								<div data-sap-ui-type="ui5strap.FormGroup" data-label="{i18n>PAGE4_TOOLCASE}" data-label-small="8">
									<div data-sap-ui-type="ui5strap.Col" data-columns-small="4">
										<div  data-sap-ui-type="ui5strap.Checkbox" data-value="{i18n>PAGE4_TOOLCASE}" data-selected="false"></div>
									</div>
								</div>	
															
							</div>
						</div>
					</div>			
				
				
				
				
									<div  data-sap-ui-type="ui5strap.Paragraph">		
								<div data-sap-ui-type="ui5strap.Col" data-columns-small="10">
									<div data-sap-ui-type="ui5strap.Form" data-type="Horizontal">	
											<div data-sap-ui-type="ui5strap.Col" data-columns-small="10">
												<div data-sap-ui-type="ui5strap.FormGroup" data-label=""  data-label-small="2" data-severity="None" data-feedback="true">
													<div data-sap-ui-type="ui5strap.Col" data-columns-extra-small="8" data-columns-small="8" data-columns-medium="8" data-columns-large="8">
														<div data-sap-ui-type="ui5strap.TextInput" data-placeholder="{i18n>PAGE4_ADD}"></div>
													</div>
													<div data-sap-ui-type="ui5strap.Col" data-columns-extra-small="2" data-columns-small="4" data-columns-medium="4" data-columns-large="4">
														<div data-sap-ui-type="ui5strap.Button" data-text="{i18n>PAGE4_APPLY}" data-severity="Info">
													    </div>
													</div>
												</div>
											</div>
									</div>
								</div>
									</div>
				</div>
			
			
		
							
	
			<div class="link" data-sap-ui-type="ui5strap.Paragraph">
									
									<div data-sap-ui-type="ui5strap.Button" data-text="{i18n>BTN_BACK}"  data-severity="Info" class="button" data-tap="__execute" data-custom-data:__action="tld__domain.product__app.actions.GotoPage3">
										<div data-sap-ui-type="ui5strap.Icon" data-icon="chevron-left"></div>
									</div>
									<div data-sap-ui-type="ui5strap.Button" data-text="{i18n>BTN_NEXT}"  data-severity="Info" class="button">
										<div data-sap-ui-type="ui5strap.Icon" data-icon="chevron-right"></div>
									</div>
													
								</div>

			<!--
				<div data-sap-ui-type="ui5strap.Container" data-type="Fluid" class="sharedesk" >

					
					
					
					
					
					
					<div data-sap-ui-type="ui5strap.TextInput" data-value="{ path : 'data>/page/title' }" data-bind="{ path : 'data>/page/title'}"  data-placeholder="{i18n>MAIN_LEAD1}" data-size="ExtraSmall" id="searchField"></div>

					<div data-sap-ui-type="ui5strap.TextInput" data-value="{ path : 'data>/page/title' }" data-placeholder="{i18n>MAIN_LEAD1}" data-size="ExtraSmall" id="searchField1"></div>
						
		     	</div> -->
			</div>
			</div>
	</div>
</template>
	